/* Add CSS Styling */
.para-1,.para-2,.para-3{
    background-color:rgb(241, 176, 187);
    }

.para-1,.para-3{
    font-size:30px;
}
.para-2{
    font-size:50px;
}
#box1{
    font-size:60px;
    font-weight:500;
    color:blue;
}
#box2{
    font-size:40px;
    font-weight: bold;
    background-color: lightgreen;
}
